*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  background-color: hsl(206, 64%, 94%);
  color: rgb(0, 0, 26);

  padding: 40px 20px;
}
/* TÍTULO */

h1 {
  font-size: clamp(32px, 5vw, 50px);
  color: #09375d;
  text-align: center;
  margin-bottom: 40px;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 800px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* BOTÕES */

.pix-button {
  width: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 20px;
  border: 1px solid #1c75bc;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  cursor: pointer;
  transition: 0.3s ease;
}

/* ÍCONE */

.pix-button .icon {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 12px;
}

/* TÍTULO DOS CARDS */

.pix-button h3 {
  font-size: clamp(20px, 2vw, 26px);
  color: #082741;
  margin-bottom: 10px;
  text-align: center;
}

/* TEXTO */

.pix-button p {
  font-size: clamp(16px, 1.8vw, 22px);
  color: #09375d;
  text-align: center;
  line-height: 1.4;
}

/* HOVER */

.pix-button:hover {
  background-color: #1c75bc;
}

.pix-button:hover h3,
.pix-button:hover p {
  color: white;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {

  .container {
    grid-template-columns: 1fr;
    gap: 18px;

    width: 100%;
    max-width: 350px;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .pix-button {
    aspect-ratio: 1 / 1;
    padding: 20px;
  }

  .pix-button .icon {
    width: 100px;
    height: 100px;
  }

  .pix-button h3 {
    font-size: 26px;
  }

  .pix-button p {
    font-size: 22px;
  }
}


@media (max-width: 480px) {

   .container {
    max-width: 300px;
  }

  body {
    padding: 30px 15px;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 38px;
  }

  .container {
    gap: 15px;
  }

  .pix-button {
    aspect-ratio: 1 / 1;
    padding: 18px;
    border-radius: 18px;
  }

  .pix-button .icon {
    width: 65px;
    height: 65px;
  }

  .pix-button h3 {
    font-size: 20px;
  }

  .pix-button p {
    font-size: 16px;
    line-height: 1.3;
  }
}